@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
:root {
    --first-color: #f4f4f4;
    --second-color: #2E4550;
    --second-color-2: #2e4550be;
    --third-color: #0A1C26;
    --fourth-color: #101010;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --height: 52px;
    --animate-delay: 0.5s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--fourth-color);
}


/* PURE TAGS */

h1 {
    font-size: var(--lg);
    font-weight: 500;
    margin: 0 !important;
}

h2 {
    font-size: var(--md);
    font-weight: 500;
    margin: 0;
}

p,
i,
a {
    display: inline-block;
    font-size: var(--sm);
    text-decoration: none;
    font-weight: 300;
    margin: 0;
    outline: none;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

button,
input {
    font-size: var(--sm);
    font-weight: bold;
    padding: 8px 12px;
    outline: none;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--first-color);
}

main {
    width: 100%;
    height: auto;
    background-color: var(--first-color);
}

section {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 18px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    color: var(--first-color);
    background-color: var(--third-color);
}

nav {
    padding: 0;
    width: 100%;
    display: grid;
    background-color: var(--third-color);
    height: var(--height);
}

figure {
    margin: 0;
    object-fit: cover;
}

img {
    width: 100%;
}


/*HERO*/

.hero {
    height: 100px;
    margin: 0;
    background-position: 50% 50%;
    background-size: 100%;
    object-fit: cover;
    background-image: url("https://images.pexels.com/photos/7336491/pexels-photo-7336491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.hero img {
    border-radius: 16px;
    width: 70px;
    height: 70px;
}


/*BACK*/

.back {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    position: fixed;
    bottom: 8px;
    background-color: var(--second-color-2);
    right: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back i {
    color: var(--first-color);
    font-size: var(--md);
}

.back:hover {
    background-color: var(--second-color);
}


/*NAVS*/

.logsNav {
    grid-template-columns: 1fr 1fr 1fr;
}

.navItem {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.navItem i {
    display: none;
    color: var(--first-color);
}

.navItem img {
    width: var(--height);
}

.navItem:active img,
.navItem:hover img {
    display: none;
}

.navItem:active i,
.navItem:hover i {
    display: block;
}


/*TITLES*/

.title,
.title2,
.title3 {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    background-color: var(--second-color);
    height: var(--height);
}

.title2 {
    background-color: var(--third-color);
}

.title h1,
.title2 h1,
.title3 h1 {
    padding: 0 24px;
    margin: 0;
}

.logTitle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    height: var(--height);
    margin-bottom: 12px;
    background-color: var(--third-color);
}

.logTitle img {
    width: var(--height);
    justify-self: center;
}


/*LEGACY*/

.legacy {
    width: 300px;
    align-self: flex-start;
}

.legacy figure {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background-color: #2E4550;
}

h2,
p,
.legacy,
.legacy figure {
    margin-left: 20px;
    margin-bottom: 12px;
}


/*PORTFOLIO*/

.portfolio {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.portfolio figure {
    margin-bottom: 12px;
}

.portfolio figure,
.portfolio figure img {
    width: 100%;
}

.portfolio p {
    margin: 0;
}

.portfolio p a {
    color: var(--first-color);
    padding: 2px 8px;
    border-radius: 12px;
    background-color: var(--second-color-2);
}

.portfolio>a {
    width: 150px;
    padding: 4px 0;
    font-weight: 500;
    place-self: center;
    color: var(--first-color);
    text-align: center;
    border-radius: 16px;
    background-color: var(--second-color-2);
}

.portfolio p a:hover,
.portfolio>a:hover {
    background-color: var(--second-color);
}


/*INTRODUCTION*/

.intro {
    width: 350px;
    margin-bottom: 12px;
}

.intro p {
    margin: 0;
}


/*CERTIFICATE*/

.certificate {
    width: 500px;
}


/*INFO*/

.info {
    display: flex;
    flex-direction: column;
}

.info p {
    color: var(--first-color);
    margin: 0;
}

.info p:nth-child(1) {
    font-weight: 500;
    margin: 0;
}

.info p:last-child {
    margin-bottom: 8px;
}

@media(max-width: 630px) {
    .certificate {
        width: 350px;
    }
}